# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Temp
temp/
tmp/
*.tmp

# Node (jika pakai npm)
node_modules/
package-lock.json

# Python (jika pakai script)
__pycache__/
*.pyc
venv/
